POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_password

DATABASE_DRIVER=postgres
DATABASE_URL=postgres://your_user:your_password@postgres:5432/your_db
DATABASE_USERNAME=your_user
DATABASE_PASSWORD=your_password
NODE_ENV=production
DATABASE_PORT=your_port
DATABASE_HOST=your_host